.places {
    margin: 0 auto;
    padding: 92px 0;
    font-size: 0;
    color: #ffff;
    max-width: 984px;
}

@media screen and (max-width: 1279px) {
    .places {
        max-width: 928px;
    }
}

@media screen and (max-width: 1000px) {
    .places {
        padding: 92px 24px;
    }
}

@media screen and (max-width: 700px) {
    .places {
        padding: 64px 16px 50px 16px;
    }
}
@media screen and (max-width: 430px) {
    .places {
        padding: 64px 0 66px 0;
        max-width: 100%;
    }
}
