.places__website {
    margin: 0;
    padding: 0 0 48px 0;
    align-self: flex-end;
    margin-left: auto;
    min-width: calc(98% - 484px);
}

@media screen and (max-width: 1279px) {
    .places__website {
        min-width: calc(100% - 470px);
    }
}

@media screen and (max-width: 900px) {
    .places__website {
        min-width: calc(95% - 340px);
    }
}

@media screen and (max-width: 700px) {
    .places__website {
        align-self: flex-start;
        margin: 0;
        padding: 32px 0;
    }
}

@media screen and (max-width: 430px) {
    .places__website {
        padding: 32px 16px;
    }
}
